Animesh Sengupta
26 Hallock Street, #13
Amherst, MA 01006
(908) 219-2250
asg.animesh@gmail.com


Hello,
As a seasoned automation engineer and a graduate student in data sciences, I have built my technological skills to include the rare blend of cloud computing with {{ role }}. Now, I look to demonstrate my technical abilities as a {{ role }} Intern at {{ org }} to build robust data ecosystems. 
My 3-year stint as a software developer, shaped my vision of “innovation through automation”. An extensive experience in containerization and cloud migration coupled with proficiency in API development, allows me to be an adept Automator. I was responsible for building 15+ APIs, innovating 1 unicorn web product, enabling 10+ migrations to Kubernetes/cloud and reducing 50+ man-days via agile automation.
My graduate studies in data analytics add an extra dimension to my proficiency in automation engineering. I come prepared with rigorous statistical and mathematical training from the top AI school of UMass, Amherst. As a research fellow at UMass, I have gained significant experience in R and pythonic frameworks to build data analysis models and visualizations with tableau.
With this internship opportunity, I hope to leverage my academic and industry experience to become a proactive problem solver. Thus, I am confident of my vigour and adaptability to succeed in your {{ org }}'s dynamic technological environment.

Thanks & Regards,
Animesh Sengupta